---
import "@fontsource-variable/geist";
import "../styles/custom.css";
---

<html class="dark">
    <head></head>
    <body class="p-0 m-0">
        <main class="">
            <slot />
        </main>
    </body>
</html>
